/****** Script for SelectTopNRows command from SSMS  ******/
/**   ALTER DATABASE [MINIMAKS_SQL]
SET SINGLE_USER
WITH ROLLBACK IMMEDIATE;
*/
use MINIMAKS_SQL

declare @DtF as date
--set @DtF='2021-05-01'
set @DtF = DATEADD(month, DATEDIFF(month, -1, getdate()) - 2, 0)

select @DtF
--select top 1000 * from [MINIMAKS_SQL].[dbo].[ОтчетОборачиваемостьНов_всп1] 
delete  from [MINIMAKS_SQL].[dbo].[ОтчетОборачиваемостьНов_всп1] 
where [Дата отчета]=@DtF

--drop table [MINIMAKS_SQL].[dbo].[ОтчетОборачиваемостьНов_всп1]
--select *
--into ##futz
--from MINIMAKS_SQL.dbo.Функционал_УТЗ_Маркетинг

insert into [MINIMAKS_SQL].[dbo].[ОтчетОборачиваемостьНов_всп1] (
       [ТипСклада]
      , [Дата отчета]
      ,[Округ]
      ,[ТипПодразделения]
      ,[ЛогПодразделение]
      ,[Артикул]
      ,[Номенклатура]
      ,[Статус]
      ,[ЖЦ]
      ,[РА]
      ,[НаРеализацию]
      ,[Поставщик]
      ,[Ведущий менеджер]
      ,[Номенклатура_Иерархия_Товарное_Направление]      
      ,[ОстаткиКон_Количество]
      ,[ОстаткиКон_СтоимостьСНДС]
      ,[Продажи1Мес_Количество]
      ,[Продажи1Мес_Себестоимость]     
      ,[Группа по оборачиваемости]
      ,[Давность образования остатка]      
      ,[Запас с оборачиваемостью до 1 мес]
      ,[Запас с оборачиваемостью от 1 до 2 мес]
      ,[Запас с оборачиваемостью от 2 до 3 мес]
      ,[Запас с оборачиваемостью более 3 мес]      
      ,[Запас с оборачиваемостью до 1 мес_СтоимостьСНДС]
      ,[Запас с оборачиваемостью от 1 до 2 мес_СтоимостьСНДС]
      ,[Запас с оборачиваемостью от 2 до 3 мес_СтоимостьСНДС]
      ,[Запас с оборачиваемостью более 3 мес_СтоимостьСНДС]
--добавленные поля      
      ,[Запас с оборачиваемостью более 3 мес_]
      ,[Запас с оборачиваемостью более 3 мес_СтоимостьСНДС_]
--конец      
      ,[Запас с оборачиваемостью до 1 мес_СтоимостьСНДС_КонОстаток]
      ,[Запас с оборачиваемостью от 1 до 2 мес_СтоимостьСНДС_КонОстаток]
      ,[Запас с оборачиваемостью от 2 до 3 мес_СтоимостьСНДС_КонОстаток]
      ,[Запас с оборачиваемостью более 3 мес_СтоимостьСНДС_КонОстаток]
      
      ,[ОстатокНач_Количество]
      ,[ОстатокНач_СтоимостьСНДС]
      ,[Продажи1Мес_Стоимость]
      ,[Продажи3Мес_Количество]
      ,[Продажи3Мес_Себестоимость]
      ,[Продажи3Мес_Стоимость]
      ,[Отгрузки1Мес_Количество]
      ,[Отгрузки1Мес_Себестоимость]
      ,[Отгрузки1Мес_Стоимость]
      ,[Отгрузки3Мес_Количество]
      ,[Отгрузки3Мес_Себестоимость]
      ,[Отгрузки3Мес_Стоимость])
SELECT t.[ТипСклада]
      ,t.[Дата отчета]
      ,[Округ]
      ,[ТипПодразделения]
      ,t.[ЛогПодразделение]
      ,t.[Артикул]
      ,t3.Номенклатура_Наименование as Номенклатура
      ,t3.Номенклатура_Основной_Статус as Статус
      ,t3.Номенклатура_Признак_ЖЦ as ЖЦ
      ,ta.[Рабочий ассортимент] as РА
      ,case when not ti.Артикул is null then 'Да' else t3.Номенклатура_Признак_НаРеализацию end as НаРеализацию
      ,t3.Номенклатура_Поставщики_Наименование as Поставщик
      ,t3.Номенклатура_Менеджеры_Ведущий_Менеджер as [Ведущий менеджер]
      ,t3.Номенклатура_Иерархия_Товарное_Направление
      
      ,[ОстаткиКон_Количество]
      ,[ОстаткиКон_СтоимостьСНДС]     
      ,[Продажи1Мес_Количество]
      ,[Продажи1Мес_Себестоимость] 
-- группа по оборачиваемости           
      ,case when [ТипПодразделения]='РЦ' then
                 case when [Отгрузки3Мес_Количество]>0 and [ОстаткиКон_Количество]/([Отгрузки3Мес_Количество]/3)<=1
                        then 'до 1 мес'
                      when [Отгрузки3Мес_Количество]>0 and [ОстаткиКон_Количество]/([Отгрузки3Мес_Количество]/3)<=2
                        then 'от 1 до 2 мес'
                      when [Отгрузки3Мес_Количество]>0 and [ОстаткиКон_Количество]/([Отгрузки3Мес_Количество]/3)<=3
                        then 'от 2 до 3 мес' 
                      when [Отгрузки3Мес_Количество]>0 and [ОстаткиКон_Количество]/([Отгрузки3Мес_Количество]/3)>3
                        then 'более 3 мес' 
                      when [Отгрузки3Мес_Количество]<=0
                        then 'Неликвид'
                 end
            else
                 case when [Продажи3Мес_Количество]>0 and [ОстаткиКон_Количество]/([Продажи3Мес_Количество]/3)<=1
                        then 'до 1 мес'
                      when [Продажи3Мес_Количество]>0 and [ОстаткиКон_Количество]/([Продажи3Мес_Количество]/3)<=2
                        then 'от 1 до 2 мес'
                      when [Продажи3Мес_Количество]>0 and [ОстаткиКон_Количество]/([Продажи3Мес_Количество]/3)<=3
                        then 'от 2 до 3 мес' 
                      when [Продажи3Мес_Количество]>0 and [ОстаткиКон_Количество]/([Продажи3Мес_Количество]/3)>3
                        then 'более 3 мес' 
                      when [Продажи3Мес_Количество]<=0
                        then 'Неликвид'
                 end 
       end as [Группа по оборачиваемости]  
--количественное распределение остатков по группам по оборачиваемости       
      ,case when  [ОстаткиКон_Количество]*0.6> [ОстатокНач_Количество]
              then 'Завоз менее 3 мес назад'
            else 'Давний завоз'
       end as [Давность образования остатка]
        
      ,case when [Среднемесячные продажи]>(isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2
             then (isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2
            else ROUND([Среднемесячные продажи],0)
       end as [Запас с оборачиваемостью до 1 мес] 
      ,case when [Среднемесячные продажи]>(isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2
             then 0
            when [Среднемесячные продажи]*2>(isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2
             then  (isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2 - ROUND([Среднемесячные продажи],0)
            else ROUND([Среднемесячные продажи]*2,0)-ROUND([Среднемесячные продажи],0)
       end as [Запас с оборачиваемостью от 1 до 2 мес]
      ,case when [Среднемесячные продажи]*2>(isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2
             then 0
            when [Среднемесячные продажи]*3>(isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2
             then  (isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2 - ROUND([Среднемесячные продажи]*2,0)
            else ROUND([Среднемесячные продажи]*3,0)-ROUND([Среднемесячные продажи]*2,0)
       end as [Запас с оборачиваемостью от 2 до 3 мес]   
      ,case when [Среднемесячные продажи]*3>(isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2 - 1
             then 0
            else
               (isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2 -1 - ROUND([Среднемесячные продажи]*3,0)
       end as [Запас с оборачиваемостью более 3 мес] 
       
-- стоимостная оценка     
      ,case when [Среднемесячные продажи]>(isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2
             then (isnull([ОстаткиКон_СтоимостьСНДС],0) + isnull([ОстатокНач_СтоимостьСНДС],0))/2
            else ROUND([Среднемесячные продажи],0)*
				 case when (isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))>0 then           
							((isnull([ОстаткиКон_СтоимостьСНДС],0) + isnull([ОстатокНач_СтоимостьСНДС],0))/
								 (isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0)))
					  else 0 end
       end as [Запас с оборачиваемостью до 1 мес_СтоимостьСНДС] 
      ,case when [Среднемесячные продажи]>(isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2
             then 0
            when [Среднемесячные продажи]*2>(isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2
             then  ((isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2 - ROUND([Среднемесячные продажи],0))
            else ROUND([Среднемесячные продажи]*2,0)-ROUND([Среднемесячные продажи],0)
       end *
				 case when (isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))>0 then           
							((isnull([ОстаткиКон_СтоимостьСНДС],0) + isnull([ОстатокНач_СтоимостьСНДС],0))/
								 (isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0)))
					  else 0 end as [Запас с оборачиваемостью от 1 до 2 мес_СтоимостьСНДС]
      ,case when [Среднемесячные продажи]*2>(isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2
             then 0
            when [Среднемесячные продажи]*3>(isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2
             then  (isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2 - ROUND([Среднемесячные продажи]*2,0)
            else ROUND([Среднемесячные продажи]*3,0)-ROUND([Среднемесячные продажи]*2,0)
       end *
				 case when (isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))>0 then           
							((isnull([ОстаткиКон_СтоимостьСНДС],0) + isnull([ОстатокНач_СтоимостьСНДС],0))/
								 (isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0)))
					  else 0 end as [Запас с оборачиваемостью от 2 до 3 мес_СтоимостьСНДС]   
      ,case when [Среднемесячные продажи]*3>(isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2 - 1
             then 0
            else
               (isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))/2 -1 - ROUND([Среднемесячные продажи]*3,0)
       end *
				 case when (isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0))>0 then           
							((isnull([ОстаткиКон_СтоимостьСНДС],0) + isnull([ОстатокНач_СтоимостьСНДС],0))/
								 (isnull([ОстаткиКон_Количество],0) + isnull([ОстатокНач_Количество],0)))
					  else 0 end as [Запас с оборачиваемостью более 3 мес_СтоимостьСНДС] 
       --/////////запас с оборачиваемостью более 3 мес. по основному отчету для сверки//////////////
      , CASE WHEN [Среднемесячные продажи] * 3 > [ОстаткиКон_Количество] THEN 0 
             ELSE [ОстаткиКон_Количество] - ROUND([Среднемесячные продажи] * 3, 0) 
        END AS [Запас с оборачиваемостью более 3 мес_] 
      , CASE WHEN [ОстаткиКон_Количество] = 0 THEN 0 
             WHEN [Среднемесячные продажи] * 3 > [ОстаткиКон_Количество] THEN 0 
             ELSE ([ОстаткиКон_Количество] - ROUND([Среднемесячные продажи]
                       * 3, 0)) * ([ОстаткиКон_СтоимостьСНДС] / [ОстаткиКон_Количество]) 
        END AS [Запас с оборачиваемостью более 3 мес_СтоимостьСНДС_] 

      --//////////конец перерасчета //////////////////////         
        
      ,case when [ОстаткиКон_Количество]=0 
             then 0
            when [Среднемесячные продажи]>[ОстаткиКон_Количество]
             then [ОстаткиКон_СтоимостьСНДС]
            else ROUND([Среднемесячные продажи]*([ОстаткиКон_СтоимостьСНДС]/[ОстаткиКон_Количество]),0)
       end as [Запас с оборачиваемостью до 1 мес_СтоимостьСНДС_КонОстаток] 
      ,case when [ОстаткиКон_Количество]=0 
             then 0
           when [Среднемесячные продажи]>[ОстаткиКон_Количество]
             then 0
            when [Среднемесячные продажи]*2>[ОстаткиКон_Количество]
             then  ([ОстаткиКон_Количество] - ROUND([Среднемесячные продажи],0))*([ОстаткиКон_СтоимостьСНДС]/[ОстаткиКон_Количество])
            else (ROUND([Среднемесячные продажи]*2,0)-ROUND([Среднемесячные продажи],0))*([ОстаткиКон_СтоимостьСНДС]/[ОстаткиКон_Количество])
       end as [Запас с оборачиваемостью от 1 до 2 мес_СтоимостьСНДС_КонОстаток]
      ,case when [ОстаткиКон_Количество]=0 
             then 0
            when [Среднемесячные продажи]*2>[ОстаткиКон_Количество]
             then 0
            when [Среднемесячные продажи]*3>[ОстаткиКон_Количество]
             then  ([ОстаткиКон_Количество] - ROUND([Среднемесячные продажи]*2,0))*([ОстаткиКон_СтоимостьСНДС]/[ОстаткиКон_Количество])
            else (ROUND([Среднемесячные продажи]*3,0)-ROUND([Среднемесячные продажи]*2,0))*([ОстаткиКон_СтоимостьСНДС]/[ОстаткиКон_Количество])
       end as [Запас с оборачиваемостью от 2 до 3 мес_СтоимостьСНДС_КонОстаток]   
      ,case when [ОстаткиКон_Количество]=0 
             then 0
            when [Среднемесячные продажи]*3>[ОстаткиКон_Количество]-1
             then 0
            else
               ([ОстаткиКон_Количество] - ROUND([Среднемесячные продажи]*3,0)-1)*([ОстаткиКон_СтоимостьСНДС]/[ОстаткиКон_Количество])
       end as [Запас с оборачиваемостью более 3 мес_СтоимостьСНДС_КонОстаток] 



      ,[ОстатокНач_Количество]
      ,[ОстатокНач_СтоимостьСНДС]
      ,[Продажи1Мес_Стоимость]
      ,[Продажи3Мес_Количество]
      ,[Продажи3Мес_Себестоимость]
      ,[Продажи3Мес_Стоимость]
      ,[Отгрузки1Мес_Количество]
      ,[Отгрузки1Мес_Себестоимость]
      ,[Отгрузки1Мес_Стоимость]
      ,[Отгрузки3Мес_Количество]
      ,[Отгрузки3Мес_Себестоимость]
      ,[Отгрузки3Мес_Стоимость]
  --into [MINIMAKS_SQL].[dbo].[ОтчетОборачиваемостьНов_всп1_]    
  FROM [MINIMAKS_SQL].[dbo].[ОтчетОборачиваемостьНов_всп] as t 
  
--       LEFT OUTER JOIN   DATA_ANALYSIS.dbo.TABLE_Dim_Номенклатура AS t1 ON t.Артикул = t1.Номенклатура_Артикул AND t1.БазаДанных = 43 
--       INNER JOIN
--                          (SELECT     ТипСклада
--                                    , ЛогПодразделение
--                                    , Артикул
--                                    , [Дата отчета]
--                                    , CASE WHEN t1.[ТипПодразделения] = 'РЦ' THEN isnull(t1.[Отгрузки3Мес_Количество] / 3, 
--                                                   0) ELSE isnull(t1.[Продажи3Мес_Количество] / 3, 0) END AS [Среднемесячные продажи]
--                                    , CASE WHEN t1.[ТипПодразделения] = 'РЦ' THEN t1.[Отгрузки3Мес_Количество] ELSE t1.[Продажи3Мес_Количество] END AS [Общий расход за период]
--                            FROM          dbo.ОтчетОборачиваемостьНов_всп AS t1) AS tmp ON t.ТипСклада = tmp.ТипСклада AND t.ЛогПодразделение = tmp.ЛогПодразделение AND 
--																						   t.Артикул = tmp.Артикул AND t.[Дата отчета] = tmp.[Дата отчета]
--        LEFT OUTER JOIN dbo.ОтчетОборачиваемостьНов_всп2 AS tnm ON t.ЛогПодразделение = tnm.ЛогПодразделение AND t.Артикул = tnm.Артикул AND 
--                      t.[Дата отчета] = tnm.[Дата отчета]
--WHERE     (t.Артикул <> '0000000000')
  
  
  
  
  
  
  
  
  
       inner join (select t1.[ТипСклада],t1.[ЛогПодразделение],t1.[Артикул], t1.[Дата отчета]
						   ,case when t1.[ТипПодразделения]='РЦ' then t1.[Отгрузки3Мес_Количество]/3
								else t1.[Продажи3Мес_Количество]/3 
						   end as [Среднемесячные продажи]  
						  ,case when t1.[ТипПодразделения]='РЦ' then t1.[Отгрузки3Мес_Количество]
								else t1.[Продажи3Мес_Количество] 
						   end as [Общий расход за период] 
			       from [MINIMAKS_SQL].[dbo].[ОтчетОборачиваемостьНов_всп] as t1) as tmp on t.[ТипСклада] =tmp.[ТипСклада] and t.[ЛогПодразделение]=tmp.[ЛогПодразделение] and t.[Артикул]=tmp.[Артикул] and t.[Дата отчета]=tmp.[Дата отчета]
		left join [DATA_ANALYSIS].[dbo].[View_Dim_Номенклатура] as t3 on t.[Артикул]=t3.Номенклатура_Артикул
		left join MINIMAKS_SQL.dbo.ФункционалРА_1С as ta on t.[Артикул]=ta.Артикул and 	t.[ЛогПодразделение]=ta.Подразделение 
		left join (select distinct Артикул from MINIMAKS_SQL.dbo.ОтчетОборачиваемостьНов_допИсключения) as ti on t.Артикул=ti.Артикул       
  where t.ТипСклада = 'Основной' and convert(date,t.[Дата отчета])='2021-07-01'
  --@DtF
   and t.Артикул<>'0000000000'
 ---and t3.Номенклатура_Поставщики_Наименование like N'%иэк%'
  
  --select * from ##futz
  
  --drop table  ##futz